@font-face {
      font-family: 'Oxygen';
      font-style: normal;
      font-weight: 400;
      src: url('Oxygen.woff2') format('woff2');
      font-display: optional;
    }
body {
  font: 24px "Oxygen", sans-serif;
  color: white;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  background: linear-gradient(rgba(3, 7, 31, .75), rgba(23, 1, 2, .75));
  background-size: cover;
}

.profile-card {
  box-shadow: 0 18px 550px -50px black;
  border-radius: 50px;
  width: auto;
  position: relative;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.2509803922);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.text-before-profile__desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-before-profile__desc h1 {
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6509803922);
}

.text-before-profile__desc h2 {
  font-size: 20px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6509803922);
}

.profile-card__social {
  display: flex;
  justify-content: center;
  align-items: flex;
  flex-wrap: wrap;
}

.profile-card__social a {
  display: inline-flex;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 40%;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
  flex-shrink: 0;
  transition: all 0.2s;
}
@media screen and (max-width: 768px) {
  .profile-card__social a {
    width: 50px;
    height: 50px;
    margin: 10px;
  }
}
@media screen and (min-width: 768px) {
  .profile-card__social a:hover {
    transform: scale(1.2) translateY(-9px);
  }
}
.profile-card__social a.telegram {
  background: linear-gradient(65deg, #00ccff, #0099ff);
  box-shadow: 0 4px 30px rgba(47, 132, 165, 0.5);
}
.profile-card__social a.apple {
  background: linear-gradient(45deg, rgb(252, 60, 68), #fc3c44, #f94c57, #fc3c44);
  box-shadow: 0 4px 30px rgba(252, 60, 68, 0.6);
}
.profile-card__social a.tiktok {
  background: linear-gradient(45deg, rgb(0, 0, 0), #2b2525, #1c1616, #000000);
  box-shadow: 0 4px 30px rgba(15, 15, 15, 0.6);
}
.profile-card__social a.discord {
  background: linear-gradient(45deg, #717fce, #6f88a3);
  box-shadow: 0 4px 30px rgb(113, 127, 206);
}
.profile-card__social a.steam {
  background: linear-gradient(45deg, #000000, #3b4652);
  box-shadow: 0 4px 30px rgba(27, 26, 26, 0.616);
}
.profile-card__social a.github {
  background: linear-gradient(45deg, #121a1a, #192020);
  box-shadow: 0 4px 30px rgba(27, 26, 26, 0.616);
}
